In [2]:
import numpy as np
import pandas as pd

In [3]:
transfusion = pd.read_csv("transfusion.data")

In [4]:
transfusion.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [5]:
transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [6]:
transfusion.rename(
columns={"whether he/she donated blood in March 2007":"target"},
    inplace=True
)

In [7]:
transfusion.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),target
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [8]:
#checking target incidence
transfusion.target.value_counts(normalize=True).round(3)

0    0.762
1    0.238
Name: target, dtype: float64

In [9]:
#Splitting transfusion into train and test dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(
transfusion.drop(columns="target"),
transfusion.target,
test_size=0.25,
random_state=42,
stratify=transfusion.target)

In [10]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 334 to 308
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Recency (months)       561 non-null    int64
 1   Frequency (times)      561 non-null    int64
 2   Monetary (c.c. blood)  561 non-null    int64
 3   Time (months)          561 non-null    int64
dtypes: int64(4)
memory usage: 21.9 KB

In [11]:
X_train.head()

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
334                16                  2                    500             16
99                  5                  7                   1750             26
116                 2                  7                   1750             46
661                16                  2                    500             16
154                 2                  1                    250              2

In [12]:
pip install tpot

Requirement already satisfied: tpot in c:\users\lucius seneca\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.16.3 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (1.23.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (1.5.3)
Requirement already satisfied: scipy>=1.3.1 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (1.10.0)
Requirement already satisfied: stopit>=1.1.1 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: xgboost>=1.1.0 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (2.0.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (1.3.2)
Requirement already satisfied: deap>=1.2 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (1.4.1)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (4.64.1)
Requirement already satisfied: scikit-learn>=1.4.1 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (1.4.1.post1)
Requirement already satisfied: update-checker>=0.16 in c:\users\lucius seneca\anaconda3\lib\site-packages (from tpot) (0.18.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lucius seneca\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lucius seneca\appdata\roaming\python\python310\site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lucius seneca\anaconda3\lib\site-packages (from scikit-learn>=1.4.1->tpot) (2.2.0)
Requirement already satisfied: colorama in c:\users\lucius seneca\anaconda3\lib\site-packages (from tqdm>=4.36.1->tpot) (0.4.6)
Requirement already satisfied: requests>=2.3.0 in c:\users\lucius seneca\anaconda3\lib\site-packages (from update-checker>=0.16->tpot) (2.28.1)
Requirement already satisfied: six>=1.5 in c:\users\lucius seneca\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lucius seneca\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lucius seneca\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\lucius seneca\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lucius seneca\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.14)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\lucius seneca\anaconda3\lib\site-packages (1.4.1.post1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lucius seneca\anaconda3\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lucius seneca\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\lucius seneca\anaconda3\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.6.0 in c:\users\lucius seneca\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
# Import TPOTClassifier and roc_auc_score
from tpot import TPOTClassifier
from sklearn.metrics import roc_auc_score

# Instantiate TPOTClassifier
tpot = TPOTClassifier(
    generations=5,
    population_size=20,
    verbosity=2,
    scoring='roc_auc',
    random_state=42,
    disable_update_check=True,
    config_dict='TPOT light'
)
tpot.fit(X_train, y_train)
y_pred=tpot.predict_proba(X_test)[:,1]

# AUC score for tpot model
tpot_auc_score = roc_auc_score(y_test, tpot.predict_proba(X_test)[:, 1])
print(f'\nAUC score: {tpot_auc_score:.4f}')

# Print best pipeline steps
print('\nBest pipeline steps:', end='\n')
for idx, (name, transform) in enumerate(tpot.fitted_pipeline_.steps, start=1):
    # Print idx and transform
    print(f'{idx}. {transform}')

Optimization Progress:   0%|          | 0/120 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 0.7422459184429089

Generation 2 - Current best internal CV score: 0.7422459184429089

Generation 3 - Current best internal CV score: 0.7422459184429089

Generation 4 - Current best internal CV score: 0.7422459184429089

Generation 5 - Current best internal CV score: 0.7423330644124079

Best pipeline: LogisticRegression(input_matrix, C=0.1, dual=False, penalty=l2)

AUC score: 0.7853

Best pipeline steps:
1. LogisticRegression(C=0.1, random_state=42)

In [15]:
X_train.var().round(3)

Recency (months)              66.929
Frequency (times)             33.830
Monetary (c.c. blood)    2114363.700
Time (months)                611.147
dtype: float64

In [16]:
# Import numpy
import numpy as np

# Copy X_train and X_test into X_train_normed and X_test_normed
X_train_normed,X_test_normed = X_train.copy(), X_test.copy()

# Specify which column to normalize
col_to_normalize = "Monetary (c.c. blood)"

# Log normalization
for df_ in [X_train_normed, X_test_normed]:
    # Add log normalized column
    df_['monetary_log'] = np.log(df_[col_to_normalize ])
    # Drop the original column
    df_.drop(columns=col_to_normalize , inplace=True)

# Check the variance for X_train_normed
X_train_normed.var().round(3)

Recency (months)      66.929
Frequency (times)     33.830
Time (months)        611.147
monetary_log           0.837
dtype: float64

In [17]:
# Importing modules
from sklearn import linear_model

# Instantiate LogisticRegression
logreg = linear_model.LogisticRegression(
    solver='liblinear',
    random_state=42
)

# Train the model
logreg.fit(X_train_normed, y_train)

# AUC score for tpot model
logreg_auc_score = roc_auc_score(y_test, logreg.predict_proba(X_test_normed)[:, 1])
print(f'\nAUC score: {logreg_auc_score:.4f}')

AUC score: 0.7891

In [18]:
# Importing itemgetter
from operator import itemgetter

# Sort models based on their AUC score from highest to lowest
sorted(
    [('tpot', tpot_auc_score), ('logreg', logreg_auc_score)],
    key=itemgetter(1),
    reverse=True
)

[('logreg', 0.7890972663699937), ('tpot', 0.7852828989192625)]

In [19]:
import pickle

# Save the trained model to a file
with open('logistic_regression_model.pkl', 'wb') as file:
    pickle.dump(logreg, file)

In [20]:
# Load the saved model from file
with open('logistic_regression_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Now, you can use loaded_model to make predictions